body{
	margin:0px;
}

a {

	margin-right: 10px;
}

h1,h2,h3,h4,h5,h6{
	margin:0px;
	color: gray;
}

#main-pic {
	float: left;
	padding-right: 10px;
}

li {
	list-style: none;
}


/* ==================================HEADER================================*/

header {
	position: relative ;
	height: 60px;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #eeeeee;
}
#left{
	float: left;
}

#right {
	float: right;
	margin-right: 40px;
}

header li {
	display: inline-block;	
	vertical-align: middle;
}

#logo {
	border: 1px solid black;
	padding: 5px;
	margin-right: 10px ;
}

#search {
	width:600px;
}

#app-drawer {
	background-color: #dddddd;
	height:20px;
	width: 20px;
}

#signin {
	background-color: blue;
	padding:8px 15px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-size: 13px;
	margin-left: 15px;

}
/* ==================================NAVIGATION================================*/
nav{
	left: 0px;	
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}

#nav{
	margin-left: 85px;
}

nav li {
	display: inline-block;	
	margin-right: 20px;
}

nav > ul > li > a{
	color: gray;
	text-decoration: none;
	font-size: 13px;
}
nav > ul > li > a:hover{
	padding-bottom: 13px;
	border-bottom: 3px solid red;
	font-weight: bold;
}
/* ==================================CONTAINER================================*/
#container {
	margin:0 125px;
}

#col-1{
	border-right: 1px solid #eeeeee;
	float: left;
	padding-right: 50px;
	width: 60%;
}

#container p {
	margin: 0;
	font-size: 13px;
}

.news {
	color: green;
	font-size: 13px;
}

#time {
	font-size: 13px;
	padding:10px 0;
	color: gray;
}

/* ==================================CONTAINER/HEADLINE================================*/
#headline{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 20px;
}

/* ==================================CONTAINER/MAIN================================*/
#main{
	padding: 20px 0px;
}
#main p{
	margin:0px;
}

#main li{
	margin-bottom: 10px;
}
#images img{
	height: 110px;
	width: 150px;
}
#images {
	border-top: 1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	padding-top: 10px;
	padding-bottom: 10px;

	}

/* ==================================CONTAINTER/RELATED================================*/

#related{
	
	border-bottom: 1px solid #eeeeee;
	height: 130px
}
#related-left{
	float:left;
	padding-left:0px;
}

#related-right{
	float:left;
}

/* ==================================CONTAINER/PAGES================================*/
#pages ul{
	text-align: center;	
}

#pages li {
	display: inline;
	margin-right: 10px;
}


/* ==================================CONTAINTER/RIGHT COLUMN================================*/
#col-2 img{
		height:125px;
		width:180px;
		margin-bottom: 10px
}

#col-2{
	float: left;
	width: 365px;
}
#feature {
	padding: 0px 20px;
}

#feature p {
	font-size: 13px;
}
#feature li {
	margin-bottom: 5px;
}
/* ==================================FOOTER================================*/

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #efefef;
  clear: both;
}

.footer ul {
	margin: 0px 125px;
	padding: 20px 0px;
}

.footer li {
	display: inline-block;
	font-size: 13px;
	margin-right: 20px;
}

.footer a{
	color: gray;
	text-decoration: none;
}
